<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\styles\style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <title>Date & Time Project</title>
</head>

<body>
    <header>
        <div class="header-style col-12">
            <h1>FLUENT DATE PROJECT</h1>
        </div>
    </header>

    <section>
        <div class="row">
            <div class="title-date-style col-lg-3 col-md-3 col-sm-3">
                    <canvas id="clock"></canvas>
                    <p id="actual-date" class="selections-second"></p>
                    
            </div>

            <div class="title-date-style col-lg-5 col-md-3 col-sm-3">
                <h2>DATE FORMAT</h2>
                <div id="normal-date" class="selections" onclick="selectDateFormat(this)">DD/MM/YYYY</div>
                <div id="other-date" class="selections" onclick="selectDateFormat(this)">DAY-MONTH-YEAR</div>
                <div id="extended-date" class="selections" onclick="selectDateFormat(this)">EXTENDED FORMAT</div>
                <br>
                <br>
                <h2>HOUR FORMAT</h2>
                <div id="twelve-format" class="selections" onclick="selectHourFormat(this)">12H</div>
                <div id="twenty-format" class="selections" onclick="selectHourFormat(this)">24H</div>
            </div>

            <div class="title-date-style col-lg-3 col-md-3 col-sm-3">
                <p id="actual-time" class="selections-second"></p>
            </div>

            <div class="title-date-style col-lg-11 col-md-11 col-sm-11">
                <h2>ZONE HOURS</h2>
                <img src="..\assets\img\mapamundi.svg" id="interactive-map" class="map-style">
            </div>
        </div>
    </section>

    <footer>
        <div id="footer-elements" class="footer-style">

        </div>
    </footer>

</body>
<script src="..\js\main.js"></script>
<script src="..\js\vector.js"></script>

</html>